<h1>Danh Sách Nhà Xe</h1>

<a type="button" routerLink="/benXe/create">Thêm Mới Nhà Xe</a>
  <div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" #searchSoXe type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch(searchSoXe.value)" type="submit">Search</button>
  </div>

<table class="table">
  <thead>
  <tr>
    <th>soXe</th>
    <th>loaiXe</th>
    <th>tenNhaXe</th>
    <th>diemDi</th>
    <th>diemDen</th>
    <th>soDienThoai</th>
    <th>email</th>
    <th>gioDi</th>
    <th>gioDen</th>
    <th>Tùy Chọn</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let benXe of benXes">
    <td scope="row">{{benXe.soXe}}</td>
    <td>{{benXe.loaiXe.tenLoaiXe}}</td>
    <td>{{benXe.nhaXe.tenNhaXe}}</td>
    <td>{{benXe.diemDi.tenDiaDiem}}</td>
    <td>{{benXe.diemDen.tenDiaDiem}}</td>
    <td>{{benXe.soDienThoai}}</td>
    <td>{{benXe.email}}</td>
    <td>{{benXe.gioDi}}</td>
    <td>{{benXe.gioDen}}</td>
    <td>
      <a routerLink="/benXe/edit/{{benXe.id}}">Sữa</a>
      <span>|</span>
      <a (click)="delete(benXe.soXe, benXe.id)">Xóa</a>
    </td>
  </tr>
  </tbody>
</table>
<!--<a th:if="${customerPage.hasPrevious()}"-->
<!--   th:href="@{/furama/search(page=${customerPage.number}-1,name=${name},email=${email},id=${id})}">Trước</a></span>-->
<!--<span th:text="${customerPage.number}+1+'/'"></span>-->
<!--<span th:text="${customerPage.totalPages}"></span>-->
<!--<span><a th:if="${customerPage.hasNext()}"-->
<!--         th:href="@{/furama/search(page=${customerPage.number}+1,name=${name},email=${email},id=${id})}">Sau</a></span>-->
